~/projetos-git/codes/python/pynetboxdemo/NOcollect_sw_version.py
~/projetos-git/codes/python/pynetboxdemo/cloud/
~/projetos-git/codes/python/pynetboxdemo/netbox.py
~/projetos-git/codes/python/pynetboxdemo/teste_update.py
