/home/vander/projetos-git/codes/python/pynetboxdemo/NOcollect_sw_version.py
/home/vander/projetos-git/codes/python/pynetboxdemo/cloud/
/home/vander/projetos-git/codes/python/pynetboxdemo/netbox.py
/home/vander/projetos-git/codes/python/pynetboxdemo/teste_update.py
